<div class="receiptContainer {{ styleCssClass }}">
  <header>
    <img src="{{ receipt.artist.logo }}" />
    <h2>{{ receipt.songlist.title }}</h2>
    <h3>{{ receipt.artist.name }}</h3>
  </header>
  <main>
    <table class="tracks">
      <colgroup>
        @if (receipt.songlist.showQuantity) {
        <col />
        }
        <col width="100%" />
        <col />
      </colgroup>
      @if (receipt.songlist.showHeader) {
      <thead>
        @if (receipt.songlist.showQuantity) {
        <td style="text-align: right; padding-right: 12px; padding-left: 4px">
          {{ labels?.tracknumber }}
        </td>
        <td>{{ labels?.tracktitle }}</td>
        } @else {
        <td style="padding-left: 4px">{{ labels?.tracktitle }}</td>
        }
        <td style="text-align: right; padding-right: 4px">{{ labels?.tracklength }}</td>
      </thead>
      } @for (track of receipt.songlist.tracks; track track.order) {
      <tr>
        @if (receipt.songlist.showQuantity) {
        <td style="text-align: right; padding-right: 12px; padding-left: 4px">{{ track.order }}</td>
        <td>{{ track.title }}</td>
        } @else {
          <td style="padding-left: 4px">{{ track.title }}</td>
          }
        <td style="text-align: right; padding-right: 4px">{{ track.length }}</td>
      </tr>
      }
      <tr class="total-counts">
        @if (receipt.songlist.showQuantity) {
        <td style="padding-left: 4px" class="begin" colspan="2">{{ labels?.itemcount }}</td>
        } @if (!receipt.songlist.showQuantity) {
        <td style="padding-left: 4px" class="begin">{{ labels?.itemcount }}</td>
        }
        <td style="text-align: right; padding-right: 4px" class="length">
          {{ receipt.songlist.tracks.length }}
        </td>
      </tr>
      <tr class="total-counts-end">
        @if (receipt.songlist.showQuantity) {
        <td style="padding-left: 4px" class="begin" colspan="2">{{ labels?.total }}</td>
        } @if (!receipt.songlist.showQuantity) {
        <td style="padding-left: 4px" class="begin">{{ labels?.total }}</td>
        }
        <td style="text-align: right; padding-right: 4px" class="length">
          {{ receipt.songlist.total }}
        </td>
      </tr>
    </table>
  </main>
  <footer>
    <p class="date">{{ labels?.date }}: {{ receipt.meta.date }}</p>
    <p class="date">{{ labels?.cardnumber }}: {{ receipt.meta.cardnumber }}</p>
    <p class="date">{{ labels?.cardholder }}: {{ receipt.meta.cardholder }}</p>
    <p class="date">{{ labels?.issuer }}: {{ receipt.meta.issuer }}</p>
    <div style="margin-top: 2rem; text-align: center;font-size:90%;">
      <img src="/barcode2.png" />
      <p>
        {{ receipt.artist.claim }}
      </p>
    </div>
  </footer>
</div>
