<div class="editContainer">
  <form>
    <div class="mainContent">
      <div>
        <div><label class="form">Receipt mode</label></div>
        <div style="display: flex; flex-direction: row">
          <div style="flex-basis: 50%"><input type="radio" value="ALBUM" [(ngModel)]="receipt.mode" name="receiptmode" class="form" /><label class="form">album-focused</label></div>
          <div style="flex-basis: 50%"><input type="radio" value="CONCERT" [(ngModel)]="receipt.mode" name="receiptmode" class="form" /><label class="form">concert-focused</label></div>
        </div>
      </div>
      @if (receipt.mode === 'ALBUM') {
      <div class="form-group"><label for="albumtitle" class="form">Title</label><input type="text" class="form" id="albumtitle" [(ngModel)]="receipt.songlist.title" name="albumtitle" /></div>
      }
      @if (receipt.mode === 'CONCERT') {
      <div class="form-group"><label for="concerttour" class="form">Tour</label><input type="text" class="form" id="concerttour" [(ngModel)]="receipt.concert.tour" name="concerttour" /></div>
      <div class="form-group"><label for="concertcity" class="form">City</label><input type="text" class="form" id="concertcity" [(ngModel)]="receipt.concert.city" name="concertcity" /></div>
      <div class="form-group"><label for="concertcountry" class="form">Country</label><input type="text" class="form" id="concertcountry" [(ngModel)]="receipt.concert.country" name="concertcountry" /></div>
      <div class="form-group"><label for="concertvenue" class="form">Venue</label><input type="text" class="form" id="concertvenue" [(ngModel)]="receipt.concert.venue" name="concertvenue" /></div>
      <div class="form-group"><label for="concertfestival" class="form">Festival</label><input type="text" class="form" id="concertfestival" [(ngModel)]="receipt.concert.festival" name="concertfestival" /></div>
      }
      <div class="form-group"><label for="artistname" class="form">Artist</label><input type="text" class="form" id="artistname" [(ngModel)]="receipt.artist.name" name="artistname" /></div>
      <div class="form-group">
        <label for="logo" class="form">Logo image (<a href="#" (click)="receipt.artist.logo = '';receipt.artist.logodata = '';">clear logo image</a>)</label><input type="file" class="form" id="artistlogo" [(ngModel)]="receipt.artist.logo" name="artistlogo" (change)="logoToBase64($event)" />

      </div>
      <div><label for="metadate" class="form">Date</label><input type="text" class="form" id="metadate" [(ngModel)]="receipt.meta.date" name="metadate" /></div>
      <div><label for="cardnumber" class="form">Credit card</label><input type="text" class="form" id="cardnumber" [(ngModel)]="receipt.meta.cardnumber" name="cardnumber" /></div>
      <div><label for="cardholder" class="form">Credit card holder</label><input type="text" class="form" id="cardholder" [(ngModel)]="receipt.meta.cardholder" name="cardholder" /></div>
      <div><label for="issuer" class="form">Credit card issuer</label><input type="text" class="form" id="issuer" [(ngModel)]="receipt.meta.issuer" name="issuer" /></div>
      <div>
        <label for="metatext" class="form">Additional text (above barcode)</label>
        <input type="text" class="form" id="metatext" [(ngModel)]="receipt.meta.text" name="metatext" />
        <input type="text" class="form" id="metatext2" [(ngModel)]="receipt.meta.text2" name="metatext2" />
      </div>
      <div>
        <label for="artistclaim" class="form">Additional text (below barcode)</label>
        <input type="text" class="form" id="artistclaim" [(ngModel)]="receipt.artist.claim" name="artistclaim" />
        <input type="text" class="form" id="artistclaim2" [(ngModel)]="receipt.artist.claim2" name="artistclaim2" />
      </div>
      <div style="display: flex; flex-direction: row">
        <div style="flex-basis: 33.33%">
          <div><label class="form">Paper style</label></div>
          <div><label class="form"><input type="radio" value="CRUMPLED" [(ngModel)]="receipt.meta.style" name="receiptstyle" class="form" />crumpled</label></div>
          <div><label class="form"><input type="radio" value="PLAIN" [(ngModel)]="receipt.meta.style" name="receiptstyle" class="form" />plain</label></div>
          <div><label class="form"><input type="radio" value="FADED" [(ngModel)]="receipt.meta.style" name="receiptstyle" class="form" />faded</label></div>
          <div><label class="form"><input type="radio" value="TRANSPARENT" [(ngModel)]="receipt.meta.style" name="receiptstyle" class="form" />transparent background (for printing and editing)</label></div>
        </div>
        <div style="flex-basis: 33.33%">
          <div><label class="form">Font style</label></div>
          <div><label class="form"><input type="radio" value="openinghours" [(ngModel)]="receipt.meta.font" name="fontstyle" class="form" />Opening hours</label></div>
          <div><label class="form"><input type="radio" value="hydrogen" [(ngModel)]="receipt.meta.font" name="fontstyle" class="form" />Hydrogen</label></div>
          <!-- <div><input type="radio" value="merchantcopy" [(ngModel)]="receipt.meta.font" name="fontstyle" class="form" /><label class="form">Merchant Copy</label></div> -->
          <!-- <div><input type="radio" value="bitmatrix" [(ngModel)]="receipt.meta.font" name="fontstyle" class="form" /><label class="form">Bit Matrix</label></div> -->
        </div>
        <div style="flex-basis: 33.33%">
          <div><label class="form">Tracklist style</label></div>
          <div class="form-group"><input type="checkbox" class="form" id="songlistheader" [(ngModel)]="receipt.songlist.showHeader" name="songlistheader" /><label for="songlistheader" class="form">Show song list header?</label></div>
          <div class="form-group"><input type="checkbox" class="form" id="songlistquantity" [(ngModel)]="receipt.songlist.showQuantity" name="songlistquantity" /><label for="songlistquantity" class="form">Show track number?</label></div>
        </div>
      </div>
    </div>
    <hr />
    <div class="trackContent">
      <table class="tracks">
        <colgroup>
          <col />
          <col width="100%" />
          <col />
        </colgroup>
        <thead>
          <th class="begin" style="vertical-align: middle; padding: 0.5rem">#</th>
          <th style="vertical-align: middle; padding: 0.5rem">Track</th>
          <th class="length" style="vertical-align: middle; padding: 0.5rem">Length</th>
        </thead>@for (track of receipt.songlist.tracks; track track.order){ <tr>
          <td style="vertical-align: middle; padding: 0.5rem 0.5rem 1rem 0.5rem">{{ track.order}} </td>
          <td style="vertical-align: middle; padding: 0.5rem 0.5rem 0 0.5rem"><input type="text" class="form" id="tracktitle{{ $index}}" [(ngModel)]="track.title" name="tracktitle{{ $index}}" /></td>
          <td style="vertical-align: middle; padding: 0.5rem 0 0 0.5rem"><input type="text" class="form" id="tracklength{{ $index}}" [(ngModel)]="track.length" name="tracklength{{ $index}}" style="width: 5rem" /></td>
        </tr>}
      </table>
      <div style="text-align: right"><button (click)="newTrack()" class="form default">Add track</button><button (click)="deleteTrack()" class="form default">Delete last track</button></div>
    </div>
    <hr />
  </form>
  <div [hidden]="true">{{ receipt | json}} </div>
</div>