form {
  margin: 1rem;
  display: block;
}

.mainContent {
  grid-column-start: 1;
  grid-row-start: 1;
  overflow: hidden;
}

.trackContent {
  grid-column-start: 1;
  grid-row-start: 2;
  overflow: hidden;
}

.editContainer {
  font-family: 'Courier New', Courier, monospace;
}

th {
  text-align: left;
  font-weight: bold;
}

@media (min-width: 1024px) {
  form {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(1, 1fr);
    gap: 16px;
  }

  .mainContent {
    grid-column-start: 1;
    grid-row-start: 1;
    overflow: hidden;
  }

  .trackContent {
    grid-column-start: 2;
    grid-row-start: 1;
    overflow: hidden;
  }

  
}
