:root {

  --receipt-width: 360px;

  button.form.default {
    background-color: #ccc;
    color: #000;
  }

  .generator {
    display: grid;
    grid-template-columns: auto calc(var(--receipt-width) + 8px);
    grid-template-rows: repeat(1, 1fr);
    gap: 2px;
    margin-bottom: 8px;
  }

  .editarea {
    grid-column-start: 1;
    grid-row-start: 1;
  }

  .previewarea {
    grid-column-start: 2;
    grid-row-start: 1;
  }

  app-root > header {
    text-align: center;
    padding-top: 2rem;
    padding-bottom: 3rem;
    background-color: #f8f8f8;
  }

  header h1 {
    font-size: 3rem;
    font-weight: bolder;
  }

  header p {
    font-size: 1.5rem;
  }

  main h2 {
    font-size: 1.5rem;
    line-height: 2rem;
  }
}
