:root {
  --receipt-width: 360px;

  em {
    font-style: italic;
  }

  button.form,
  a.form {
    color: #000;
    background-color: #b6b6c9;
    box-shadow: 1px 1px 0 hsl(240, 15%, 25%);
  }

  button.form.default,
  a.form.default {
    background-color: #d3d3de;
    color: #000;
  }

  .topnote {
    padding: 0.25rem 1rem;
    text-align: center;
    background-color: #b6b6c9;
    color: #000;
  }

  .topnote a {
    text-decoration: underline;
    color: #363649;
  }

  a.form,
  button.form {
    transition: none;
    font-weight: normal;
    line-height: 1;
  }

  label.form {
    display: inline;
    margin-bottom: 1px;
    font-weight: bold;
    font-size: 0.9rem;
  }

  .generator {
    display: block;
    margin: 0;
  }

  .headerLinks {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .custom-file-upload {
    display: inline-block;
    text-align: center;
    text-decoration: none;
    border-radius: 0.125rem;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    vertical-align: middle;
    white-space: nowrap;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    margin-bottom: 0.5rem;
    line-height: 1.25;
    cursor: pointer;
    -webkit-transform: scale(1);
    transform: scale(1);
    transition: all 0.2s ease;
    font-weight: 600;
    margin-left: 0.5rem;
    transition: none;
    font-weight: normal;
    line-height: 1;

    color: #000;
    background-color: #d3d3de;
    box-shadow: 1px 1px 0 hsl(240, 15%, 25%);
  }

  .custom-file-upload + .form {
    margin-left: 0.5rem;
  }

  app-root > header {
    text-align: center;
    padding: 1rem 0.5rem;
    background-color: #f0f0f4;
    color: #222233;
  }

  header h1 {
    font-size: 4rem;
    font-weight: bolder;
  }

  header p {
    font-size: 1rem;
  }

  header p.muted {
    font-size: 0.9rem;
    color: #777788;
    font-style: italic;
  }

  header p.muted span {
    font-style: normal;
  }

  main h2 {
    font-size: 1.5rem;
    line-height: 2rem;
  }

  .bottomDownload {
    text-align: center;
  }

  .helpSection {
    padding: 1rem;
    background-color: #b6b6c9;
    color: #000;
  }

  .helpSection mark {
    color: #000;
    background-color: #d3d3de;
    border-radius: 3px;
    border: 1px solid hsl(240, 14%, 65%);
    box-shadow: 0 1px 1px rgb(0 0 0 / 0.7), 0 2px 0 0 rgb(255 255 255 / 1) inset;
    padding: .1rem .25rem 0 .25rem;
  }

  .helpSection h2 {
    font-size: 1.5rem;
    line-height: 2rem;
    margin-bottom: 0.5rem;
  }

  .helpSection a {
    text-decoration: underline;
    color: #363649;
  }

  app-root > footer {
    text-align: center;
    padding: 1rem 0.5rem;
    background-color: #f0f0f4;
    color: #222233;
  }

  @media (min-width: 1024px) {
    app-root > header {
      padding: 2rem 0.5rem;
    }

    .generator {
      display: grid;
      grid-template-columns: auto calc(var(--receipt-width) + 1rem);
      grid-template-rows: repeat(1, 1fr);
      gap: 0;
    }

    .editarea {
      grid-column-start: 1;
      grid-row-start: 1;
    }

    .previewarea {
      grid-column-start: 2;
      grid-row-start: 1;
    }

    .headerLinks {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
    }

    .headerLinks a {
      display: none;
    }

    .exampleHeading {
      display: inline-block;
    }

    hr {
      display: none;
    }

    .bottomDownload {
      display: none;
    }

    .helpSection {
      padding: 1rem 2rem;
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-template-rows: repeat(1, 1fr);
      gap: 4rem;
    }

    app-root > footer {
      padding: 2rem 0.5rem;
    }
  }
}
